<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">

</head>
<body>
	<div th:substituteby="Layout :: defaultFragment"></div>
	<script type="text/javascript" src="/CMS/resources/js/page-scripts/userWiseReportReq.js"></script>			
		<div id="body">
			<fieldset>
				<legend>View Requisition Report</legend>
				<div id="box">
					<form>
	
					<p>
						<label>Date From</label>
						<input 	type="text" id="reqDateFrom" />
					</p>
					<p>
						<label>Date To</label>
						<input 	type="text" id="reqDateTo" />
					</p>
					<p>
						<label>Employee ID</label>
						<select id="employeeId">
							<option>--select--</option>
							<option th:each="user : ${userList}" th:value="${user.userLoginId}" th:text="${user.userFullName}"></option>
						</select> 
					</p>
					<p>
						<input class="formbutton" type="button" onclick="reportPrintReq()" value="View"/>
					</p>		
					</form>
				</div>
			</fieldset>
		</div>
		<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>