<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">

</head>
<body>
	<!-- <script type="text/javascript" src="/CMS/resources/js/jquery-1.11.0.js"></script> -->
	<script type="text/javascript"
		src="/CMS/resources/js/page-scripts/expenceEntry.js"></script>

	<div th:substituteby="Layout :: defaultFragment"></div>

	<div id="body">
		<fieldset>
			<legend>Expense Entry</legend>
			<div id="box">
				<form action="#" th:action="@{/main/expense}" method="POST"
				th:object="${expense}">
				
				<input 	type="hidden" id="expenseEmployeeId" width="140" name="expenseEmployeeId" th:field="*{expenseEmployeeId}" />  
			
				<p>
					<label>Conveyance Date</label>
					<input 	type="text" id="expenseConveyanceDate" name="expenseConveyanceDate" th:field="*{expenseConveyanceDate}" />
				</p>				
				<p>	
					<label>Expense type</label>
					<select name="expenseType" th:field="*{expenseType}">
									<option value="conveyance">Conveyance</option>
									<option value="food">Food</option>
									<option value="others">Others</option>
					</select>
				</p>
				
				<p>
					<label>Amount</label>
					<input 	type="text" id="expenseAmount" name="expenseAmount" th:field="*{expenseAmount}" />
				</p>
				<p>
					<label>Details</label>
					<textarea rows="4" cols="25" id="expenseDetails" name="expenseDetails" th:field="*{expenseDetails}" ></textarea>
				</p>
				<p>
					<label>Total:</label>
					<input type="text" disabled="disabled" th:value="${total}" ></input>
				</p>					
				<p>
					<button name="Submit" class="formbutton" type="submit">Save</button>
					
				</p>		
				</form>
			</div>
		</fieldset>
		<br/><br/>
		<div>
		<table id="expenceEntryTable">
			<thead>
				<tr>
					<th><input type="checkbox" id="selectAll" /></th>
					<th>Conveyance Date</th>
					<th>Expense Type</th>
					<th>Amount</th>
					<th>Details</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="expenceEntryTableBody">
				<tr th:each="expense : ${expenseList}">
					<td><input type="checkbox" /></td>
					<td th:text="${expense.expenseConveyanceDate}"></td>
					<td th:text="${expense.expenseType}"></td>
					<td th:text="${expense.expenseAmount}"></td>
					<td th:text="${expense.expenseDetails}"></td>
					<td>
						<label th:if="${expense.expenseStatus==0}">Initiated</label>
						<label th:if="${expense.expenseStatus==1}">Submitted</label> 
						<label th:if="${expense.expenseStatus==2}">Approved</label> 
						<label th:if="${expense.expenseStatus==3}">Paid</label>
						<label th:if="${expense.expenseStatus==-1}">Rejected</label>
					</td>
					<!-- <td th:text="${expense.expenseStatus}"></td> -->
					<td><a th:href="@{'/main/delete/'+${expense.expenseId}}">Delete</a></td>
					<td th:text="${expense.expenseId}" style="display: none;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	<div>
		<input class="button" type="button" value="Submit" onclick="approve()" />
	</div>
	</div>
	<br/><br/><br/>
	<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>