<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">

<title>Insert title here</title>
</head>
<body>
	<div th:substituteby="Layout :: defaultFragment"></div>
	<div id="body">
		<fieldset>
			<legend>Conveyance Details View</legend>
			<div id="box">
				<form action="#" th:action="@{/main/hrConveyanceView}" method="POST">
				
				<input 	type="hidden" id="expenseEmployeeId" width="140" name="expenseEmployeeId" />  
			
				<p>
					<label>Date From</label>
					<input 	type="text" id="expenseDateFrom" name="expenseDateFrom" />
				</p>
				<p>
					<label>Date To</label>
					<input 	type="text" id="expenseDateTo" name="expenseDateTo" />
				</p>
				<p>
					<button name="Submit" class="formbutton" type="submit">View</button>
				</p>		
				</form>
			</div>
		</fieldset>
		<br/><br/>
		<div>
		<table>
			<thead>
				<tr>
					<th>Paid Date</th>
					<th>Expense Type</th>
					<th>Amount</th>
					<th>Details</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="expense : ${expenseList}">
					<td th:text="${expense.expensePaidDate}"></td>
					<td th:text="${expense.expenseType}"></td>
					<td th:text="${expense.expenseAmount}"></td>
					<td th:text="${expense.expenseDetails}"></td>
					<td>
						<label th:if="${expense.expenseStatus==-1}">Rejected</label>
						<label th:if="${expense.expenseStatus==0}">Initiated</label>
						<label th:if="${expense.expenseStatus==1}">Submitted</label> 
						<label th:if="${expense.expenseStatus==2}">Approved</label> 
						<label th:if="${expense.expenseStatus==3}">Paid</label>
					</td>
					<td th:text="${expense.expenseId}" style="display: none;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	</div>
	<br/><br/><br/>
	<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>