<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">

<!-- CSS Files -->
	<link type="text/css" href="/CMS/resources/css/styles.css" rel="stylesheet"></link>
	<link type="text/css" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<!--  js files -->
<script type="text/javascript" src="/CMS/resources/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/CMS/resources/js/slider.js"></script>
<script type="text/javascript" src="/CMS/resources/js/common.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<title>CMS</title>
</head>

<body class="noheader">

	<div id="container" th:fragment="defaultFragment">

		<div id="header">
			<div id="top-navigation" align="right">
				<label style="color:#C0C0C0">Welcome&nbsp;<strong> <!-- #C0C0C0 -->
				<span th:text="${beans.utilities.getFullName()}"></span></strong></label> | <a
					th:href="@{/j_spring_security_logout}">Log out</a>
			</div>
			<h1>
				<a href="/">CMS</a>
			</h1>
			<h2>Advanced Software Development</h2>
			<div class="clear"></div>
		</div>

		<div id="nav" th:switch="${beans.utilities.getLoginRole()}">

			<!-- *******************************************For Admin ***********************************************************-->
			
			<ul class="sf-menu dropdown sf-js-enabled sf-shadow" th:case="'Admin'">

				<li class=""><a class="has_submenu" href="">View</a>
					<ul>
						<li><a href="/CMS/main/admin">Submitted Conveyance</a></li>
						<li><a href="/CMS/main/adminConveyanceView">Approved Conveyance</a></li>
						<li><a href="/CMS/main/adminReq">Submitted Requisition</a></li>
						<li><a href="/CMS/main/approvedRequisitionView">Approved Requisition</a></li>
						
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">Action</a>
					<ul>
						<li><a href="/CMS/main/expense">Conveyance Entry</a></li>
						<li><a href="/CMS/main/userConveyanceView">Conveyance View</a></li>
						<li><a href="/CMS/main/requisition">Requisition Entry</a></li>
						<li><a href="/CMS/main/userRequisitionView">Requisition View</a></li>
						<li><a href="/CMS/main/resetPassword">Reset Password</a></li>
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">Report</a>
					<ul>
						<li><a href="/CMS/main/report">Expense Report</a></li>
						<li><a href="/CMS/main/reportReq">Requisition Report</a></li>
					</ul>
				</li>
			</ul>
			
			<!-- *******************************************For HR ***********************************************************-->
			
			<ul class="sf-menu dropdown sf-js-enabled sf-shadow" th:case="'HR'">

				<li class=""><a class="has_submenu" href="">View</a>
					<ul>
						<li><a href="/CMS/main/hr">Approved Conveyance</a></li>
						<li><a href="/CMS/main/hrConveyanceView">Paid Conveyance</a></li>
						<li><a href="/CMS/main/hrReq">Approved Requisition</a></li>
						<li><a href="/CMS/main/hrRequisitionView">Ordered Requisition</a></li>
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">Action</a>
					<ul>
						<li><a href="/CMS/main/expense">Conveyance Entry</a></li>
						<li><a href="/CMS/main/userConveyanceView">Conveyance View</a></li>
						<li><a href="/CMS/main/requisition">Requisition Entry</a></li>
						<li><a href="/CMS/main/userRequisitionView">Requisition View</a></li>
						<li><a href="/CMS/main/resetPassword">Reset Password</a></li>
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">Setup</a>
					<ul>
						<li><a href="/CMS/main/userForm">User Setup</a></li>
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">Report</a>
					<ul>
						<li><a href="/CMS/main/report">Expense Report</a></li>
						<li><a href="/CMS/main/reportReq">Requisition Report</a></li>
					</ul>
				</li>
			</ul>
			
			<!-- *******************************************For User ***********************************************************-->
			
			<ul class="sf-menu dropdown sf-js-enabled sf-shadow" th:case="'User'">

				<li class=""><a class="has_submenu" href="">Action</a>
					<ul>
						<li><a href="/CMS/main/expense">Conveyance Entry</a></li>
						<li><a href="/CMS/main/requisition">Requisition Entry</a></li>
						<li><a href="/CMS/main/resetPassword">Reset Password</a></li>
					</ul>
				</li>
				<li class=""><a class="has_submenu" href="">View</a>
					<ul>
						<li><a href="/CMS/main/userConveyanceView">Conveyance View</a></li>
						<li><a href="/CMS/main/userRequisitionView">Requisition View</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
	<div id="footer" th:fragment="footerFragment">
	    <div id="footer-links">
	            <p>Copyright &copy;  <a href="http://www.asdbd.com/">Advanced Software Development</a>, Developed by CMS Team, 2014</p>
	    </div>  
	</div>
</body>
</html>