<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">

</head>
<body>
	<script type="text/javascript" src="/CMS/resources/js/page-scripts/requisitionEntry.js"></script>

	<div th:substituteby="Layout :: defaultFragment"></div>

	<div id="body">
		<fieldset>
			<legend>Requisition Entry</legend>
			<div id="box">
				<form action="#" th:action="@{/main/requisition}" method="POST"
				th:object="${requisition}">
				
				<input 	type="hidden" id="reqEmployeeId" width="140" name="reqEmployeeId" th:field="*{reqEmployeeId}" />  
			
				<p>
					<label>Entry Date</label>
					<input 	type="text" id="reqEntryDate" name="reqEntryDate" th:field="*{reqEntryDate}" />
				</p>				
				<p>	
					<label>Requisition type</label>
					<input 	type="text" id="reqType" name="reqType" th:field="*{reqType}" />
				</p>
				
				<p>
					<label>Quantity</label>
					<input type="text" id="reqQuantity" name="reqQuantity" th:field="*{reqQuantity}" />
				</p>
				<p>
					<label>Details</label>
					<textarea rows="4" cols="25" id="reqDetails" name="reqDetails" th:field="*{reqDetails}" ></textarea>
				</p>					
				<p>
					<button name="Submit" class="formbutton" type="submit">Save</button>
				</p>		
				</form>
			</div>
		</fieldset>
		<br/><br/>
		<div>
		<table id="reqEntryTable">
			<thead>
				<tr>
					<th><input type="checkbox" id="selectAll" /></th>
					<th>Entry Date</th>
					<th>Requisition Type</th>
					<th>Quantity</th>
					<th>Details</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="reqEntryTableBody">
				<tr th:each="requisition : ${requisitionList}">
					<td><input type="checkbox" /></td>
					<td th:text="${requisition.reqEntryDate}"></td>
					<td th:text="${requisition.reqType}"></td>
					<td th:text="${requisition.reqQuantity}"></td>
					<td th:text="${requisition.reqDetails}"></td>
					<td>
						<label th:if="${requisition.reqStatus==0}">Initiated</label>
						<label th:if="${requisition.reqStatus==1}">Submitted</label> 
						<label th:if="${requisition.reqStatus==2}">Approved</label> 
						<label th:if="${requisition.reqStatus==3}">Paid</label>
						<label th:if="${requisition.reqStatus==-1}">Rejected</label>
					</td>
					<!-- <td th:text="${expense.expenseStatus}"></td> -->
					<td><a th:href="@{'/main/deleteReq/'+${requisition.reqId}}">Delete</a></td>
					<td th:text="${requisition.reqId}" style="display: none;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	<div>
		<input class="button" type="button" value="Submit" onclick="approve()" />
	</div>
	</div>
	<br/><br/><br/>
	<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>